<meta charset="UTF-8">
<title>Farmacia</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="google" value="notranslate">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link href="css/datatables.bootstrap.min.css" rel="stylesheet">
<link href="css/combo.css" rel="stylesheet">

<script type="text/javascript" src="javascripts/dataTables/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="javascripts/dataTables/angular.min.js"></script>
<script type="text/javascript" src="javascripts/dataTables/angular-datatables.min.js"></script>
<script type="text/javascript" src="javascripts/soap/soapclient.js"></script>
<script type="text/javascript" src="javascripts/soap/angular.soap.js"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->
<script type="text/javascript" src="javascripts/angular-ui-router.min.js"></script>
<script type="text/javascript" src="javascripts/angular-local-storage.min.js"></script>
<script type="text/javascript" src="javascripts/appAngular.js"></script>
<script type="text/javascript" src="javascripts/controller.js"></script>
<script type="text/javascript" src="javascripts/factory.js"></script>
<script type="text/javascript" src="javascripts/angularN/controllerN.js"></script>
<script type="text/javascript" src="javascripts/angularN/factoryN.js"></script>



<style>
    body {
        padding-top: 50px;
        background: #ffffff url("http://fondosdepantallaenmovimiento.com/wp-content/uploads/2015/11/fondos-de-pantalla-lisos-gratis.jpg");
    }
</style>