<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <ul class="nav navbar-nav" align="left">
                <li>
                    <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
                </li>
                <li><a href="#/salePoint">Home</a></li>
            </ul>

        </div>
    </nav>
</header>
<div>
    <span ng-click="show2(employee)">{{employee.name}}</span>

</div>
<br>
<div>
    <form class="form-inline" ng-submit="showCase.addMedicine()">
        <table class="display" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
            <thead>
                <tr>
                    <th>
                        <div class="form-group">
                            Precio Unitario:
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label>
                                <input type="number" class="form-control" name="PriceUnit" ng-model="showCase.medicine2Add.PriceUnit" value="">
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            Cantidad Stock:
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <label>
                                <input type="number" class="form-control" name="quantity" ng-model="showCase.medicine2Add.quantity" value="">
                            </label>
                        </div>
                    </th>
                    <th>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad Stock</th>
                    <th>Actualizar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="medicine in showCase.medicines">
                    <td>{{ medicine.id }}</td>
                    <td>{{ medicine.name }}</td>
                    <td>{{ medicine.description }}</td>
                    <td>{{ medicine.PriceUnit }}</td>
                    <td>{{ medicine.quantity }}</td>
                    <td>
                        <button type="button" ng-click="showCase.modifyMedicine($index, medicine)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                    </td>
                    <td>
                        <button type="button" ng-click="showCase.removeMedicine($index, medicine)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>