<header>
    <div align="right">
        <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
    </div>
    <br>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <ul class="nav navbar-nav" align="left" valign="center">
                <li><a href="#/salePoint">Home</a></li>
                <li><a href="" ng-click="goAdmin()">Gestion de medicinas</a></li>
                <li><a href="#/UserRegister">Registro</a></li>
            </ul>

        </div>
    </nav>

</header>
<div class="row">
    <div class=".col-sm-8 .col-sm-pull-4">
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span ng-click="show2(employee)">Atendiendo {{employee.name}}, Farmacia {{drugstore.name}}</span></div>
                    <div class="panel-body">
                        <form class="form-inline" ng-submit="ShowCaseAdmin.addMedicine()">
                            <table class="display" datatable="ng" dt-options="ShowCaseAdmin.dtOptions" dt-column-defs="ShowCaseAdmin.dtColumnDefs" class="row-border hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-group">
                                                Precio Unitario:
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <label>
                                                    <input type="number" class="form-control" name="PriceUnit" ng-model="ShowCaseAdmin.medicine2Add.PriceUnit" value="">
                                                </label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                Cantidad Stock:
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <label>
                                                    <input type="number" class="form-control" name="quantity" ng-model="ShowCaseAdmin.medicine2Add.quantity" value="">
                                                </label>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad Stock</th>
                                        <th>Actualizar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="medicine in ShowCaseAdmin.medicines">
                                        <td>{{ medicine.id }}</td>
                                        <td>{{ medicine.name }}</td>
                                        <td>{{ medicine.description }}</td>
                                        <td>{{ medicine.PriceUnit }}</td>
                                        <td>{{ medicine.quantity }}</td>
                                        <td>
                                            <button type="button" ng-click="ShowCaseAdmin.modifyMedicine($index, medicine)" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                                        </td>
                                        <td>
                                            <button type="button" ng-click="ShowCaseAdminAdmin.removeMedicine($index, medicine)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>