<header>
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav" align="left">
            <li><button type="button" class="btn btn-danger" ng-click="logout()">Logout</button></li>
            <li><a href="" ng-click="goAdmin()">Gestion de Pedidos</a></li>
            <li><a href="" ng-click="goAdmin()">Ver Pedidos Cliente</a></li>
        </ul>

    </div>
</nav>
</header>
   <div>
    <span></span>
</div>
<br>
<div>
    
</div>