<header>
    <div align="right">
        <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
    </div>
    <br>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav" align="left" valign="center">
                <li><a href="#/orderManager">Registro de Pedidos</a></li>
                <li><a href="#/Order">Pedidos</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="row">
    <div class=".col-sm-8 .col-sm-pull-4">
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span>Atendiendo {{employee.name}}, Farmacia {{drugstore.name}}</span></div>
                    <div class="panel-body">
                        <table class="display" datatable="ng" dt-options="order.dtOptions" dt-column-defs="order.dtColumnDefs" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>No. Orden</th>
                                    <th>Cliente</th>
                                    <th>Generado por</th>
                                    <th>Sucursal</th>
                                    <th>Fecha</th>
                                    <th>Total</th>
                                    <th>Detalle</th>
                                    <th>Cancelar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ord in order.orders">
                                    <td>{{ ord.id }}</td>
                                    <td>{{ ord.client.name }}</td>
                                    <td>{{ ord.operator_id }}</td>
                                    <td>{{ ord.drugstore.name }}</td>
                                    <td>{{ ord.dateEmited }}</td>
                                    <td>{{ ord.totalAmount }}</td>
                                    <td>
                                        <button type="button" ng-click="order.detalle(ord)" class="btn btn-success"><i class="fa fa-plus"></i></td>
                                    <td>
                                        <button type="button" ng-click="order.removeOrder($index, ord)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class=".col-sm-8 .col-sm-pull-4">
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading"><span>Atendiendo, Farmacia</span></div>
                    <div class="panel-body">
                        <table class="display" datatable="ng" dt-options="order.dtOptions" dt-column-defs="order.dtColumnDefs1" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ord in order.details">
                                    <td>{{ ord.name }}</td>
                                    <td>{{ ord.description }}</td>
                                    <td>{{ ord.quantity }}</td>
                                    <td>{{ ord.PriceUnit }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>