<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body ng-app="appChaplist">
      
    <header>
        <% include ../partials/header %>
    </header>
    <div class="container">
        <ui-view></ui-view>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>



</html>